/* VITE ONLY: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import 'primereact/resources/themes/lara-light-blue/theme.css';

/* NEXT.JS ONLY: In "styled" mode you must also add the layer(primereact) */
@import 'primereact/resources/themes/lara-light-blue/theme.css' layer(primereact);

.font-heading{
    font-family: 'Merriweather', sans-serif;
    font-style: semibold;
}


::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #f8f9f8;
}

::-webkit-scrollbar-thumb
{
	background-color: #4d893f;	
}